<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nonograms"
        tools:targetApi="31">
        <activity
            android:name=".Level_1_1"
            android:exported="false" />
        <activity
            android:name=".Field15x15"
            android:exported="false" />
        <activity
            android:name=".Field10x10"
            android:exported="false" />
        <activity
            android:name=".Field5x5"
            android:exported="false" />
        <activity
            android:name=".LearnAct3"
            android:exported="false" />
        <activity
            android:name=".LearnAct2"
            android:exported="false" />
        <activity
            android:name=".LearnAct1"
            android:exported="false" />
        <activity
            android:name=".MainActivityAfterAuth"
            android:exported="false" />
        <activity
            android:name=".RegistrAct"
            android:exported="false" />
        <activity
            android:name=".LearningAct"
            android:exported="false" />
        <activity
            android:name=".InAct"
            android:exported="false" />
        <activity
            android:name=".StartAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>